body {
    font-family: "Helvetica", serif;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(31, 85, 80, 1) 58%, rgba(145, 132, 0, 1) 100%);
    color: antiquewhite;
}

#content {
    margin-left: 100px;
}

h1 {
    text-align: left;
}

#tableDiv_name {
    font-size: 22px;
    margin-bottom: 10px;
}

#accounts_per_page {
    font-size: 18px;
    margin-bottom: 10px;
}

form label, select {
    font-size: 14px;
    background-color: grey;
    border-radius: 3px;
}

select {
    color: antiquewhite;
    padding: 0.2em 0.2em 0.2em;
}

form label {
    border: 1px solid;
    border-radius: 3px;
    padding: 3px;
}

#mainTable th, td {
    color: antiquewhite;
    background-color: dimgrey;

    padding: 3px;
    text-align: left;

    border: 1px solid antiquewhite;
    border-collapse: separate;
    border-radius: 3px;
}

#button_row {
    color: antiquewhite;
    margin-top: 10px;
}

.button_class {
    text-align: center;
    width: 32px;
    margin: 5px;
    padding: 5px;
    background-color: grey;
    color: antiquewhite;
    font-size: 14px;
    border-radius: 3px;
}

#bottom_break {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 850px;
    border: 1px solid antiquewhite;
}

#create_form {
    color: antiquewhite;
    font-size: 18px;
    width: 500px;
}

p {
    font-size: 14px;
}

#create_form label {
    display: inline-block;
    width: 100px;
}
.create_form {
    margin: 5px;
    width: 200px;
}

input {
    color: antiquewhite;
    background-color: grey;
    border-radius: 3px;
    padding: 0.2em 0.2em 0.2em;
}

input::placeholder {
    color: antiquewhite;
}
#submit_input {
    width: 110px;
    color: aqua;
    background-color: dimgrey;
    font-size: 16px;
    margin-top: 10px;
}